<div>
  <div id="page-title">
    <h2>
      <span *ngIf="type=='my-prescription'">My Prescription</span></h2>
    <h2> <span *ngIf="type=='authorized-prescription'">Authorized Prescription</span></h2>
    <h2> <span *ngIf="type=='nonauthorized-prescription'">Non Authorized Prescription</span></h2>
  </div>

  <div class="panel">
    <div class="panel-body">
      <form (submit)="search()">
        <div class="example-box-wrapper">
          <div class="form-horizontal bordered-row">
            <div class="col-md-12">
              <div class="row">
                <div>

                  <div>
                    <!-- First Criteria-->
                    <div class="col-md-6">
                      <div class="form-group">
                        <md-input-container class="example-full-width" style="width:100%">
                          <input mdInput [(ngModel)]="criteria.patientEmail" placeholder="Patient Email" name="patientEmail">
                        </md-input-container>

                      </div>
                    </div>

                    <!-- Second Criteria-->
                    <div class="col-md-6">
                      <div class="form-group">
                        <md-input-container class="example-full-width" style="width:100%">
                          <input mdInput [(ngModel)]="criteria.doctorEmail" placeholder="Doctor Email" name="doctorEmail">
                        </md-input-container>

                      </div>
                    </div>

                  </div>

                </div>


              </div>
            </div>
          </div>


          <br/>
          <br/>

          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button type="submit" md-raised-button>Search</button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body">

      <div class="form-horizontal bordered-row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h3 class="title-hero">
            Search Results
          </h3>
        </div>
        <div class="col-md-4"></div>
      </div>

      <div class="example-box-wrapper">
        <div class="form-horizontal bordered-row">
          <div class="col-md-12">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>#</th>

                  <th>
                    <span> Patient First Name</span>
                  </th>

                  <th>
                    <span> Patient Last Name</span>
                  </th>

                  <th>
                    <span> Patient Email</span>
                  </th>
                  <th>
                    <span> Doctor Last Name</span>
                  </th>
                  <th>
                    <span> Doctor Last Name</span>
                  </th>
                  <th>
                    <span> Doctor Email</span>
                  </th>

                  <th>
                    <span> Prescription Date</span>
                  </th>
                  <th *ngIf="type!='nonauthorized-prescription'">
                    <span> Prescription </span>
                  </th>

                  <th>Action</th>

                </tr>
              </thead>
              <tbody *ngIf="results">


                <tr *ngFor="let row of results;let myindex=index">
                  <td>{{myindex+1}}</td>
                  <td>
                    {{row.firstName}}

                  </td>
                  <td>
                    {{row.lastName}}

                  </td>
                  <td>
                    {{row.patientEmail}}

                  </td>

                  <td>
                    {{row.doctorFirstName}}

                  </td>
                  <td>
                    {{row.doctorLastName}}

                  </td>

                  <td>
                    {{row.doctorEmail}}

                  </td>

                  <td>
                    {{row.createdDate | date}}

                  </td>

                  <td *ngIf="type!='nonauthorized-prescription'">
                    {{row.prescription}}
                  </td>



                  <td>
                   <button type="button" *ngIf="type=='nonauthorized-prescription'" (click)="sendRequest(row.id)" md-raised-button>Send Request</button>
                    
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>



</div>
